<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">
    <title>Ilkhombek</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- BOX Icons pack -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <!-- Start NavBar -->
    <header class="header">
        <a href="#" class="logo">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 349.000000 422.000000"
                preserveAspectRatio="xMidYMid meet" class="logo_img">

                <g transform="translate(0.000000,422.000000) scale(0.100000,-0.100000)"
                    fill="#FFFFFF" stroke="none">
                    <path d="M330 4194 c-72 -19 -129 -54 -190 -115 -254 -254 -112 -684 248 -749
                    229 -41 463 135 501 378 27 173 -74 373 -230 453 -95 48 -224 61 -329 33z"/>
                    <path d="M1817 3790 c-262 -227 -476 -414 -475 -415 2 -1 125 -5 273 -8 282
                    -7 330 -14 419 -59 65 -33 141 -112 172 -181 26 -56 29 -72 29 -167 0 -88 -4
                    -113 -23 -154 -46 -101 -135 -181 -253 -228 -50 -20 -78 -22 -341 -27 -157 -4
                    -290 -10 -295 -14 -10 -10 -11 -735 -1 -759 7 -17 32 -18 320 -18 343 0 393
                    -6 511 -66 155 -79 247 -253 218 -416 -25 -145 -114 -264 -244 -328 -123 -59
                    -131 -60 -704 -60 l-523 0 0 1046 c0 886 -2 1045 -14 1042 -8 -2 -197 -160
                    -421 -353 -224 -192 -417 -358 -429 -367 -20 -16 -21 -26 -26 -355 -9 -614
                    -10 -1878 -2 -1891 7 -10 237 -12 1178 -9 l1169 3 121 27 c444 98 744 318 904
                    661 70 148 92 247 97 441 5 157 3 178 -20 276 -57 235 -137 385 -291 547 -82
                    86 -179 156 -299 217 -55 28 -102 56 -104 62 -3 7 20 24 49 39 81 41 136 81
                    217 158 430 414 412 1148 -39 1534 -147 126 -384 217 -595 229 l-100 5 -478
                    -412z"/>
                </g>
            </svg>
            <span>ekchanov.</span>
        </a>

        <nav class="navbar">
            <a href="#" style="--i:1;"  class="active">Home</a>
            <a href="#" style="--i:2;" >About</a>
            <a href="#" style="--i:3;" >Skills</a>
            <a href="#" style="--i:4;" >Portfolio</a>
            <a href="#" style="--i:5;" >Contact</a>
        </nav>
    </header>
    <!-- End NavBar -->

    <!-- Start Home -->
    <section class="home">
        <div class="home-content">
            <span style="--j:1;"><h3 class="middle-h1">Salom, Men</h3></span>
            <span style="--j:2;"><h1 class="name-h1">Bekchanov Ilhombek</h1></span>
            <span style="--j:3;"><h3 class="middle-h1">Python <span class="profession">Back-End</span> Dasturchisiman</h3></span>
            <span style="--j:4;">
                <p class="home-decription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium alias suscipit voluptatem asperiores quas enim eius quae dolorem facere fugit.
                </p>
            </span>
            <div class="social-media">
                <a href="https://t.me/ilhombek_0311" target="_blank" style="--i:6;"><i class='bx bxl-telegram'></i></a>
                <a href="https://www.instagram.com/ilkhombek_0311/" target="_blank" style="--i:7;"><i class='bx bxl-instagram'></i></a>
                <a href="https://wa.me/qr/ETSNPINZXVARN1" target="_blank" style="--i:8;"><i class='bx bxl-whatsapp'></i></a>
                <a href="https://www.linkedin.com/in/ilkhombek0311/" target="_blank" style="--i:9;"><i class='bx bxl-linkedin'></i></a>
            </div>
            <a href="#" class="btn">Download CV</a>
        </div>

        <div class="home-img">
            <img src="../static/img/logo.png" alt="My-Photo">
        </div>

    </section>
    <!-- End Home -->

    <!-- Custom JS  -->
    <script src="../static/js/script.js"></script>
</body>
</html>